* {
    box-sizing: border-box;
}



body {
    font-family: system-ui;
    background-color: #e8e9eb;
    min-width: 320px;
  }

  
  header {
    background-color: white;
    padding: 0.8rem 1.4rem;
  }
  
  .btn {
    background-color: #0185d4;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
  }
  
  

  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-wrap, .btn-wrap {
    flex: 1;
  }
  
  .btn-wrap {
    text-align: right;
  }
  

      .search input[type=text]{
          width:340px;
          height:35px;
          font-size: 16px;
          padding:13px;
          border-radius:25px;
          border: 3px solid black;
      }
           
      .search{
        
          flex: 100%;
          text-align: center;
          margin: 1rem -1.4rem 0;
        
      }
           
      .search button{
          background-color: #0074D9;
          color: #f2f2f2;
          padding: 5px 10px;
          margin: 16px;
          font-size: 18px;
          border: none;
          cursor: pointer;
      }







      .avatar {
        border-radius: 50%;
      }

      .avatar-round {
        border: 2px solid black;
      }

      @media screen and (min-width: 768px) {
        header {
          flex-wrap: no-wrap;
        }
        span {
          order: 3;
        }
        .search {
          flex: none;
          margin: 0;
        }
      }