* {
    box-sizing: border-box;
}



body {
    font-family: system-ui;
    background-color: #e8e9eb;
  }

  
  header {
    background-color: white;
    padding: 0.8rem 1.4rem;
    min-width: 767px;
  }
  
  .btn {
    background-color: #0185d4;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
  }
  
  

  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-wrap, .btn-wrap {
    flex: 1;
  }
  
  .btn-wrap {
    text-align: right;
  }
  
  /* styling search bar */
      .search input[type=text]{
          width:340px;
          height:35px;
          font-size: 16px;
          padding:13px;
          border-radius:25px;
          border: 3px solid black;
      }
           
      .search{
          float:right;
          margin:7px;
      }
           
      .search button{
          background-color: #0074D9;
          color: #f2f2f2;
          padding: 5px 10px;
          margin: 16px;
          font-size: 18px;
          border: none;
          cursor: pointer;
      }


      .avatar {
        border-radius: 50%;
      }

      .avatar-round {
        border: 2px solid black;
      }